.div_p_1 {
	margin-top: auto;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS';
	font-size: 15px;
	line-height: 15px;
	column-count: 1;
	column-gap: 30px;
	display: table-cell;
	justify-content: left;
	align-items: center;
	position: center;
	max-width: 40%;
	padding-left: 10px;
	padding-right: 0px;
}

.div_p_2 {
	margin: 0 auto;
	margin-top: auto;
	margin-left: auto;
	margin-right: auto;
	column-count: 1;
	column-gap: 30px;
	display: table-cell;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
	position: center;
	max-width: 50%;
	padding-left: 10px;
	padding-right: 0px;
}


.div_p_3 {
	margin-top: auto;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS';
	font-size: 15px;
	line-height: 15px;
	column-count: 1;
	column-gap: 30px;
	display: table-cell;
	justify-content: left;
	align-items: center;
	position: static;
	max-width: 10%;
	padding-left: 10px;
	padding-right: 0px;
}


.cuerpo_pag {
	max-height: 100%;
	max-width: 100%;
	background-color: white;
	margin-top: 0px;
	overflow: hidden;

}


.fuente_tit {
	margin-top: auto;
	margin-left: 7px;
	font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS';
	font-size: 40px;
	line-height: 0px;
	color: darkblue;
}


.fuente_sub {
	margin-top: auto;
	margin-left: 7px;
	font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS';
	font-size: 20px;
	line-height: 25px;
}


.fuente_cue {
	margin-top: auto;
	margin-left: 7px;
	font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS';
	font-size: 15px;
	line-height: 20px;
}


.fuente_foot {
	margin-top: 120px;
	margin-left: 7px;
	font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS';
	font-size: 15px;
	line-height: 20px;
	color: darkblue;
}


.fuente_pre_1 {
	margin-top: auto;
	margin-left: 7px;
	font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS';
	font-size: 15px;
	line-height: 15px;
	column-count: 1;
	column-gap: 10px;
}


.fuente_pre_2 {
	margin-top: auto;
	margin-left: 7px;
	font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS';
	font-size: 15px;
	line-height: 15px;
	column-count: 1;
	column-gap: 50px;
	column-rule: 0px groove;
}


.fuente_pre_3 {
	margin-top: auto;
	margin-left: 7px;
	font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS';
	font-size: 15px;
	line-height: 15px;
	column-count: 1;
	column-gap: 50px;
	column-rule: 0px groove;
}


.lb_ini {
	margin-top: 150px;
	margin-left: 110px;
	font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS';
	font-size: 15px;
	line-height: 15px;
	column-count: 2;
	column-gap: 100px;
	column-rule: 0px groove;
	display: inline-block;
	justify-content: left;
	align-items: center;
	position: center;
	max-width: 100%;
}


.fuente_ind_1 {
	margin-top: auto;
	margin-left: 40px;
	margin-right: 40px;
	font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS';
	font-size: 15px;
	line-height: 15px;
	column-count: 1;
	column-gap: 30px;
	display: table-cell;
	justify-content: left;
	align-items: center;
	position: center;
	max-width: 50%;
	padding-left: 0px;
	padding-right: 0px;
}


.fuente_ind_2 {
	margin-top: 0px;
	margin-left: 10px;
	margin-right: auto;
	font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS';
	font-size: 15px;
	line-height: 15px;
	column-count: 1;
	column-gap: 30px;
	display: table-cell;
	justify-content: right;
	align-items: center;
	position: center;
	max-width: 50%;
	padding-left: 330px;
}


.btn-buscar {
	margin-top: 2px;
	margin-left: 5px;
	padding: .500rem .50rem;
	border-radius: .25rem;
	font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS';
	font-size: 17px;
	vertical-align: auto;
	background-color: darkblue;
	color: white;
	border: hidden;
	transition: background-color .15s ease-in-out;
	width: 100px;
	height: 40px;
}


	.btn-buscar:hover, .btn-buscar:focus {
		background-color: darkblue;
	}


	.btn-buscar:active {
		background-color: blue;
	}


.btn-caja-buscar {
	margin-top: 2px;
	margin-left: 17px;
	margin-right: auto;
	width: 300px;
	height: 30px;
	font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS';
	font-size: 17px;
	line-height: 17px;
	column-count: 1;
}


.btn-ini {
	padding: .500rem .50rem;
	border-radius: .25rem;
	font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS';
	font-size: 17px;
	background-color: darkblue;
	color: white;
	border: hidden;
	transition: background-color .15s ease-in-out;
	width: 257px;
	height: 40px;
}


	.btn-ini:hover, .btn-ini:focus {
		background-color: darkblue;
	}


.btn-inicio:active {
	background-color: blue;
}


.btn-nue-cta {
	padding: .500rem .50rem;
	border-radius: .25rem;
	font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS';
	font-size: 17px;
	background-color: darkorange;
	color: white;
	border: hidden;
	transition: background-color .15s ease-in-out;
	width: 257px;
	height: 40px;
}


	.btn-nue-cta:hover, .btn-nue-cta:focus {
		background-color: darkorange;
	}


	.btn-nue-cta:active {
		background-color: orange;
	}


.txt-bot {
	font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS';
	font-size: 15px;
	line-height: 15px;
	color: darkred;
	width: 257px;
	height: 50px;
	text-align: center;
}


.ul {
	list-style-type: none;
}


.cuerpo_p {
	max-height: 100%;
	max-width: 100%;
	background-color: none;
	margin-top: 5px;
	margin-left: 5px;
	align-content: center;
	overflow: hidden;

	
}


.fuente_p {
	margin-top: 15px;
	margin-left: 7px;
	font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS';
	font-size: 15px;
	line-height: 20px;
	color: darkblue;
}


.tipo_pop {
	margin-top: 15px;
	margin-left: 7px;
	font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS';
	font-size: 15px;
	line-height: 20px;
	color: black;
	resize: none;
	scroll-snap-type: x none;
	scroll-snap-type: y mandatory;
}


.olvido-contrasenia {
	margin-top: 60px;
	margin-left: auto;
	text-align: center;
	font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS';
	font-size: 12px;
	line-height: 0px;
	color: darkred;
}


.cuerpo {
	max-height: 100%;
	max-width: 100%;
	margin-top: 0px;
	overflow: hidden;
	background-color: none;
	background-image: url('img/fondo.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}


.fuente_titulo {
	margin-top: auto;
	margin-left: 7px;
	font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS';
	font-size: 40px;
	line-height: 0px;
	color: darkblue;
}


.fuente_subtitulo {
	margin-top: auto;
	margin-left: 7px;
	font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS';
	font-size: 20px;
	line-height: 25px;
}


.fuente_cuerpo {
	margin-top: auto;
	margin-left: 7px;
	font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS';
	font-size: 15px;
	line-height: 20px;
}


.fuente_pie {
	margin-top: 120px;
	margin-left: 7px;
	font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS';
	font-size: 15px;
	line-height: 20px;
	color: darkblue;
}


.btn-inicio {
	padding: .500rem .50rem;
	border-radius: .25rem;
	font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS';
	font-size: 17px;
	background-color: darkblue;
	color: white;
	border: hidden;
	transition: background-color .15s ease-in-out;
	width: 257px;
	height: 40px;
}


	.btn-inicio:hover, .btn-inicio:focus {
		background-color: darkblue;
	}


	.btn-inicio:active {
		background-color: blue;
	}


.btn-nueva-cuenta {
	padding: .500rem .50rem;
	border-radius: .25rem;
	font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS';
	font-size: 17px;
	background-color: darkorange;
	color: white;
	border: hidden;
	transition: background-color .15s ease-in-out;
	width: 257px;
	height: 40px;
}


	.btn-nueva-cuenta:hover, .btn-nueva-cuenta:focus {
		background-color: darkorange;
	}


	.btn-nueva-cuenta:active {
		background-color: orange;
	}


.txt-boton {
	font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS';
	font-size: 15px;
	line-height: 15px;
	color: darkred;
	width: 257px;
	height: 50px;
	text-align: center
}


.ul {
	list-style-type: none;
}


.f_cuerpo_pop {
	max-height: 100%;
	max-width: 100%;
	background-color: white;
	margin-top: 5px;
	margin-left: 5px;
	align-content: center;
	overflow: hidden;

}


.f_pie_pop {
	margin-top: 7px;
	margin-left: 7px;
	font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS';
	font-size: 12px;
	line-height: 15px;
	color: darkblue;

}


.tipo_pop {
	margin-top: 7px;
	margin-left: 7px;
	font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS';
	font-size: 15px;
	line-height: 20px;
	color: black;
	resize: none;
	scroll-snap-type: x none;
	scroll-snap-type: y mandatory;
	block-size: fit-content;
	scroll-behavior: inherit;

}


.tipo_pop_bis {
	margin-top: 0px;
	margin-left: 7px;
	font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS';
	font-size: 15px;
	line-height: 20px;
	color: black;
	resize: none;
	scroll-snap-type: x none;
	scroll-snap-type: y mandatory;
	block-size: fit-content;
	scroll-behavior: inherit;
}


.tipo_tit_pop {
	background-color: white;
	margin-top: 20px;
	margin-left: 7px;
	margin-bottom: 15px;
	align-content: center;
	font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS';
	font-size: 30px;
	line-height: 0px;
	font-display: auto;
	font-weight: 500;
	clear: right;
	color: darkblue;
}


.tipo_bajada_pop {
	background-color: white;
	margin-top: 7px;
	margin-left: 7px;
	align-content: center;
	font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS';
	font-size: 15px;
	line-height: 20px;
	color: black;
}


.tipo_sub_pop {
	background-color: white;
	margin-top: 15px;
	margin-left: 7px;
	align-content: center;
	font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS';
	font-size: 15px;
	line-height: 20px;
	color: darkblue;
	font-weight:bold;

}


.tipo_txt_pop {
	background-color: white;
	margin-top: 7px;
	margin-left: 10px;
	align-content: center;
	font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS';
	font-size: 15px;
	line-height: 20px;
	color: black;

}


.tipo_fot_pop {
	background-color: white;
	margin-top: 7px;
	margin-left: 7px;
	border: thin;
	border-color: black;
	padding-right: 20px;
	display: block;
	clear: both;
	float: left;
	
}


.tipo_pie_pop {
	margin-top: 7px;
	margin-left: 7px;
	font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS';
	font-size: 12px;
	line-height: 15px;
	color: darkblue;

}


.tipo_vid_pop {
	margin-top: 7px;
	margin-left: 7px;
	align-content: center;
    width: 590px;
	
}


.tipo_aud_pop {
	background-color: white;
	margin-top: 7px;
	margin-left: 7px;
	align-content: center;
	width: 590px;

}


.tipo_fot_pop_1 {
	background-color: white;
	margin-top: auto;
	margin-left: 0px;
	align-content: center;
	align-items: center;
	width: 580px;
	justify-content: center;
	overflow: hidden;
	clear: both;
	float: left;

}


.video-respon {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px; 
	height: 0;
	overflow: hidden;

}

	.video-respon iframe,
	.video-respon object,
	.video-respon embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

	}


.f_cuerpo_pop {
	max-height: 100%;
	max-width: 100%;
	background-color: white;
	margin-top: 5px;
	margin-left: 5px;
	align-content: center;
	overflow: hidden;
}


.f_pie_pop {
	margin-top: 7px;
	margin-left: 7px;
	font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS';
	font-size: 12px;
	line-height: 15px;
	color: darkblue;
}


.tipo_pop {
	margin-top: 7px;
	margin-left: 7px;
	font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS';
	font-size: 15px;
	line-height: 20px;
	color: black;
	resize: none;
	scroll-snap-type: x none;
	scroll-snap-type: y mandatory;
	block-size: fit-content;
	scroll-behavior: inherit;
}


.tipo_pop_bis {
	margin-top: 0px;
	margin-left: 7px;
	font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS';
	font-size: 15px;
	line-height: 20px;
	color: black;
	resize: none;
	scroll-snap-type: x none;
	scroll-snap-type: y mandatory;
	block-size: fit-content;
	scroll-behavior: inherit;
}


.tipo_tit_pop {
	background-color: white;
	margin-top: 20px;
	margin-left: 7px;
	margin-bottom: 15px;
	align-content: center;
	font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS';
	font-size: 30px;
	line-height: 0px;
	font-display: auto;
	font-weight: 500;
	clear: right;
	color: darkblue;
}


.tipo_bajada_pop {
	background-color: white;
	margin-top: 7px;
	margin-left: 7px;
	align-content: center;
	font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS';
	font-size: 15px;
	line-height: 20px;
	color: black;
}


.tipo_sub_pop {
	background-color: white;
	margin-top: 15px;
	margin-left: 7px;
	align-content: center;
	font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS';
	font-size: 15px;
	line-height: 20px;
	color: darkblue;
	font-weight: bold;
}


.tipo_txt_pop {
	background-color: white;
	margin-top: 7px;
	margin-left: 10px;
	margin-right:10px;
	align-content: center;
	font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS';
	font-size: 15px;
	line-height: 20px;
	color: black;
}


.tipo_fot_pop {
	background-color: white;
	margin-top: 7px;
	margin-left: 7px;
	border: thin;
	border-color: black;
	padding-right: 20px;
	display: block;
	clear: both;
	float: left;
}


.tipo_pie_pop {
	margin-top: 7px;
	margin-left: 7px;
	font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS';
	font-size: 12px;
	line-height: 15px;
	color: darkblue;
}


.tipo_vid_pop {
	margin-top: 7px;
	margin-left: 7px;
	align-content: center;
	width: 590px;
}


.tipo_aud_pop {
	background-color: white;
	margin-top: 7px;
	margin-left: 7px;
	align-content: center;
	width: 590px;
}


.tipo_fot_pop_1 {
	background-color: white;
	margin-top: auto;
	margin-left: 0px;
	align-content: center;
	align-items: center;
	width: 580px;
	justify-content: center;
	overflow: hidden;
	clear: both;
	float: left;
}


.video-respon {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

	.video-respon iframe,
	.video-respon object,
	.video-respon embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}


.doscol1013a {
	max-height: 100%;
	max-width: 100%;
	margin-top: 0px;
	column-count: auto;
	grid-auto-columns: fit-content(100px);
	table-layout: fixed;
	overflow: hidden;
	background-color: transparent;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: contain;
}

.cuerpo1013 {
	max-height: 100%;
	max-width: 100%;
	margin-top: 0px;
	overflow: hidden;
	background-color: transparent;
	background-image: url('../img/fondomediatek.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: contain;
}

.doscol1013a {
	max-height: 100%;
	max-width: 100%;
	margin-top: 0px;
	column-count: 2;
	grid-auto-columns: fit-content(100px);
	table-layout: fixed;
	overflow: hidden;
	background-color: transparent;
	background-image: url('../img/fondomediatek.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: contain;
}

.logo1013a{
	max-height: 100%;
	max-width: 70%;
	margin-top: 90px;
	margin-left: 90px;
	padding: 0px;
	align-content:center;
	overflow: hidden;
	background-color: transparent;
	background-image: src('img/Mediatek_Logo.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: contain;
}

.logo1013b {
	max-height: 100%;
	max-width: 100%;
	margin-top: 40px;
	margin-left: 50px;
	margin-right:50px;
	padding: 10px;
	align-content: flex-start;
	overflow: hidden;
	background-color: transparent;
	background-image: src('');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: contain;
}

.tipo_sub_home {
	background-color: transparent;
	margin-top: auto;
	margin-left:115px;
	text-align: left;
	align-content: center;
	font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS';
	font-size: 16px;
	line-height: 21px;
	color: white;
}

.pie1013 {
	margin-top: 10px;
	margin-left: 0px;
	font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS';
	font-size: 13px;
	line-height: 16px;
	color: white;
}

.navbar navbar-expand-md navbar-dark fixed-top bg-dark {
	background-color: midnightblue;
	border-color: midnightblue;
	border-block-color:midnightblue;
}

.container-fluid {
	background-color: midnightblue;
	border-color: midnightblue;
	border-block-color: midnightblue;
}